/* ============
  IMPORTS
============ */
/* ============
  VARIABLES
============ */
/* Fonts */
/* Header */
/* Footer */
/* ============
  SECTIONS (Header, Footer etc)
============ */
@import "https://fonts.googleapis.com/css?family=Oswald:300,400,700";
/* line 8, ../sass/_sections.scss */
html body header .navbar {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
/* line 14, ../sass/_sections.scss */
html body header .navbar .dropdown-menu > li > a {
  font-weight: 300;
}
/* line 24, ../sass/_sections.scss */
html body footer {
  padding: 15px 0;
  background: #222222;
}
/* line 27, ../sass/_sections.scss */
html body footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 31, ../sass/_sections.scss */
html body footer ul li {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
/* line 36, ../sass/_sections.scss */
html body footer ul li a {
  color: #9d9d9d;
}
/* line 38, ../sass/_sections.scss */
html body footer ul li a:hover, html body footer ul li a:focus {
  color: #FFFFFF;
  text-decoration: none;
}

/* ============
  MOBILE
============ */
/* Fonts */
