/* ============
  SECTIONS (Header, Footer etc)
============ */

html {
  body {
    header {
      .navbar {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        
        .dropdown-menu>li>a {
          font-weight: 300;
        }
      }
    }
    section {
      &#body {

      }
    }
    footer {
      padding: 15px 0;
      background: $footer-bg;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 300;
          a {
            color: $footer-grey;
            &:hover,
            &:focus {
              color: $font-white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}